// font-sizes
$font-size-base: 16px;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-normal: 1rem;
$font-size-small: 0.75rem;
$font-size-xsmall: 0.55rem;
$font-size-xlarge: 2.5rem;
$font-size-xxlarge: 3rem;

// font-family
$font-stack: 'Poppins', sans-serif;

// font-weight
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
