.form {
  @include form-flex();
  @include form-settings();

  > input {
    @include input-settings();

    @media screen and (min-width: 768px) {
      font-size: $font-size-normal;
    }

    @media screen and (min-width: 1200px) {
      font-size: $font-size-small;
    }
  }

  .terms {
    color: $form-text;
    font-size: $font-size-small;
    margin-top: 0;

    @media screen and (min-width: 768px) {
      font-size: $font-size-normal;
    }

    @media screen and (min-width: 1200px) {
      font-size: $font-size-small;
    }
  }
}
